<a href="https://colab.research.google.com/github/DanielCarrasquilla/Curso_basico_python/blob/master/Validacion412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark==3.2.1
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark==3.2.1 in /usr/local/lib/python3.8/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.8/dist-packages (from pyspark==3.2.1) (0.10.9.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.8/dist-packages (2.0.1)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("WARN")

In [4]:
spark

In [5]:
df = spark.read.format("csv").option("delimiter", "|").option("header","true").load("FORMATO_412_PROTO_20230304.csv")

In [6]:
df.show()

+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+
|subcuenta|codigo_canal|codigo_departamento|codigo_municipio|cantidad_puntos_atencion|cantidad_puntos_atencion_activos|unidad_de_captura|
+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+
|       23|          10|                 25|             572|                      14|                              14|               01|
|       24|          10|                 47|             745|                       2|                               2|               01|
|       25|          14|                 15|             572|                       1|                               1|               01|
|       26|          04|                 52|             835|                       6|                               6|               01|
|       27|          04|                 13|             430|                       2|                               2|               01|
|       28|          10|                 41|             791|                      14|                              14|               01|
|       29|          10|                 25|             779|                       4|                               4|               01|
|       66|          10|                 15|             276|                       2|                               2|               01|
|       67|          10|                 47|             460|                      14|                              14|               01|
|       68|          14|                 68|             689|                       1|                               1|               01|
|       69|          14|                 25|             769|                       1|                               1|               01|
|       70|          04|                 17|             013|                       1|                               1|               01|
|       71|          04|                 25|             307|                       9|                               9|               01|
|       72|          04|                 05|             789|                       1|                               1|               01|
|      109|          04|                 81|             001|                       3|                               3|               01|
|      110|          04|                 76|             147|                       5|                               5|               01|
|      111|          04|                 25|             473|                       9|                               9|               01|
|      112|          14|                 17|             486|                       1|                               1|               01|
|      113|          10|                 52|             399|                      11|                              11|               01|
|      114|          10|                 68|             615|                      12|                              12|               01|
+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- subcuenta: string (nullable = true)
 |-- codigo_canal: string (nullable = true)
 |-- codigo_departamento: string (nullable = true)
 |-- codigo_municipio: string (nullable = true)
 |-- cantidad_puntos_atencion: string (nullable = true)
 |-- cantidad_puntos_atencion_activos: string (nullable = true)
 |-- unidad_de_captura: string (nullable = true)

In [8]:
df.createTempView("df")

In [9]:
#Validacion de duplicados 412
spark.sql("""
select *
from df
where codigo_canal = '14'
and codigo_departamento = '13'
and codigo_municipio = '001'
""").show()

+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+
|subcuenta|codigo_canal|codigo_departamento|codigo_municipio|cantidad_puntos_atencion|cantidad_puntos_atencion_activos|unidad_de_captura|
+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+
|       83|          14|                 13|             001|                      13|                              13|               01|
+---------+------------+-------------------+----------------+------------------------+--------------------------------+-----------------+

In [10]:
spark.sql(""" 
select * from 
(select codigo_canal,codigo_departamento,codigo_municipio,count(*) as cantidad from df
group by codigo_canal,codigo_departamento,codigo_municipio) a
where a.cantidad != 1
""").show(n=1008)

+------------+-------------------+----------------+--------+
|codigo_canal|codigo_departamento|codigo_municipio|cantidad|
+------------+-------------------+----------------+--------+
+------------+-------------------+----------------+--------+

In [13]:
#Lectura Formato 413

df413 = spark.read.format("csv").option("delimiter", "|").option("header","true").load("FORMATO_413_PROTO_20230204(1).csv")

In [14]:
#ValidaciÃ³n de duplicados 413
df413.createTempView("df413")

spark.sql(
"""
Select 
cod_distribucion , cod_serv_transaccional , cod_departamento , cod_municipio , cod_operacion , cod_tipo_persona , cod_ciiu , cod_mecanismo , unidad_de_captura,
count(*) from df413
GROUP BY 
cod_distribucion , cod_serv_transaccional , cod_departamento , cod_municipio , cod_operacion , cod_tipo_persona , cod_ciiu , cod_mecanismo , unidad_de_captura 
HAving count(*) > 1
"""
).show()

+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+-----------------+--------+
|cod_distribucion|cod_serv_transaccional|cod_departamento|cod_municipio|cod_operacion|cod_tipo_persona|cod_ciiu|cod_mecanismo|unidad_de_captura|count(1)|
+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+-----------------+--------+
+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+-----------------+--------+

In [15]:
spark.sql("select distinct(df413.cod_distribucion), df413.cod_serv_transaccional from df413 where df413.cod_operacion ='N/A'").show()

+----------------+----------------------+
|cod_distribucion|cod_serv_transaccional|
+----------------+----------------------+
|              02|                    00|
|              04|                    00|
|              01|                    00|
|              13|                    00|
|              14|                    00|
+----------------+----------------------+

In [22]:
df4=spark.sql("""
SELECT 
    subcuenta,
    CASE 
        WHEN cod_serv_transaccional = '00' THEN '00'
    END AS cod_distribucion,
    cod_serv_transaccional,
    cod_departamento,
    cod_municipio,
    cod_operacion,
    cod_tipo_persona,
    cod_ciiu,
    cod_mecanismo,
    cantidad_operaciones,
    monto_operaciones,
    unidad_de_captura
FROM df413
where cod_operacion ='N/A'
    """
)

In [ ]:
df4=spark.sql("""
SELECT 
    subcuenta,
    cod_distribucion,
    cod_serv_transaccional,
    CASE 
        WHEN cod_serv_transaccional = '00' THEN '00'
    END AS 
    cod_departamento,
    cod_municipio,
    cod_operacion,
    cod_tipo_persona,
    cod_ciiu,
    cod_mecanismo,
    cantidad_operaciones,
    monto_operaciones,
    unidad_de_captura
FROM df413
where cod_operacion ='N/A'
    """
)

In [19]:
df4.createTempView("df4")

In [21]:
spark.catalog.dropTempView("df4")

In [20]:
spark.sql("select * from df4").show()

+---------+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+--------------------+-----------------+-----------------+
|subcuenta|cod_distribucion|cod_serv_transaccional|cod_departamento|cod_municipio|cod_operacion|cod_tipo_persona|cod_ciiu|cod_mecanismo|cantidad_operaciones|monto_operaciones|unidad_de_captura|
+---------+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+--------------------+-----------------+-----------------+
|    11160|              00|                    00|              25|          899|          N/A|             N/A|   05012|          N/A|                   2|          1750000|               02|
|    11161|              00|                    00|              00|          000|          N/A|             N/A|    4690|          N/A|                   3|          3031900|               02|
|    11162|              00|                    00|              52|          001|          N/A|             N/A|   02211|          N/A|                   2|          2200000|               02|
|    11163|              00|                    00|              85|          410|          N/A|             N/A|   04741|          N/A|                   1|           200000|               02|
|    11164|              00|                    00|              25|          740|          N/A|             N/A|   08560|          N/A|                   2|           295000|               02|
|    11165|              00|                    00|              00|          000|          N/A|             N/A|   04930|          N/A|                   3|           191591|               02|
|    11166|              00|                    00|              54|          498|          N/A|             N/A|   05511|          N/A|                   5|         27030000|               02|
|    11167|              00|                    00|              51|          154|          N/A|             N/A|   06399|          N/A|                   3|          5603000|               02|
|    11168|              00|                    00|              47|          288|          N/A|             N/A|   02310|          N/A|                   2|           400000|               02|
|    11169|              00|                    00|              52|          001|          N/A|             N/A|   01399|          N/A|                   1|          9060000|               02|
|     1117|              00|                    00|              66|          001|          N/A|             N/A|   04664|          N/A|                   6|         16689278|               02|
|    11170|              00|                    00|              76|          147|          N/A|             N/A|   00082|          N/A|                 126|        534318546|               02|
|    11171|              00|                    00|              11|          001|          N/A|             N/A|    4542|          N/A|                   4|           635000|               02|
|    11172|              00|                    00|              66|          687|          N/A|             N/A|   05512|          N/A|                   1|          1255000|               02|
|    11174|              00|                    00|              88|          001|          N/A|             N/A|   07220|          N/A|                   1|           800000|               02|
|    11175|              00|                    00|              25|          740|          N/A|             N/A|   01410|          N/A|                   8|          6066000|               02|
|    11176|              00|                    00|              73|          449|          N/A|             N/A|   01922|          N/A|                   1|          4500000|               02|
|    11177|              00|                    00|              18|          001|          N/A|             N/A|   04662|          N/A|                   1|          5000000|               02|
|     1118|              00|                    00|              11|          001|          N/A|             N/A|   04665|          N/A|                   9|          5320000|               02|
|    11181|              00|                    00|              25|          286|          N/A|             N/A|   08699|          N/A|                   3|          4150000|               02|
+---------+----------------+----------------------+----------------+-------------+-------------+----------------+--------+-------------+--------------------+-----------------+-----------------+
only showing top 20 rows